%% -*- mode: erlang -*-

{erl_opts, [
    nowarn_unused_import,
    debug_info
]}.

{deps, [
    {emqx, {path, "../emqx"}},
    {emqx_resource, {path, "../emqx_resource"}},
    {mongodb, {git, "https://github.com/emqx/mongodb-erlang", {tag, "v3.0.19"}}}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [emqx_mongo]}
]}.

{project_plugins, [erlfmt]}.
